@import "../../styles.scss";

main {
  display: flex;
  justify-content: center;
  position: relative;
  > .emptydiv1 {
    @include purbleline;
    position: absolute;
    right: 0;
    top: 130px;
    width: 100px;
  }
  > .referenceshadowgreen {
    z-index: -5;
    position: absolute;
    transform: rotate(100deg);
    right: -622px;
    top: -650px;
  }

  .referencecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .textAndPng {
      display: flex;
      justify-content: flex-end;
      margin-left: 75px;
      margin-right: 50px;
      gap: 48px;
      .textField {
        border-style: solid;
        border-radius: 32px;
        border-width: 4px;
        border-color: #70e61c;
        display: flex;
        flex-direction: column;
        max-width: 851px;
        max-height: 272px;
        min-height: 271px;
        position: relative;
        > .textFieldTicks {
          max-height: 68px;
          max-width: 96px;
          position: absolute;
          left: -70px;
          top: -30px;
        }
        span {
          @include span;
          padding: 48px 96px 112px;
        }
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          margin-left: 96px;
          margin-right: 96px;
          position: absolute;
          width: 75%;
          bottom: 5px;

          > .emptydiv {
            @include purbleline;
            display: flex;
            justify-content: space-around;
            width: 100%;
          }
          > .userName {
            @include span;
            text-wrap: nowrap;
          }
        }
      }
      .pngCircle {
        img {
          display: flex;
          justify-content: flex-end;
          height: 272px;
          width: 272px;
          border-radius: 50%;
          object-fit: cover;
          border-style: solid;
          border-width: 4px;
          border-color: #9747ff;
        }
      }
    }
    .slideSeciton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 26px;
      margin-top: 32px;
      .backarrow,
      .forwardarrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;

        img {
          height: 30px;
          width: 30px;
        }
      }
      > .elipses {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 850px) {
  main {
    display: flex;
    justify-content: center;
    position: relative;
    > .emptydiv1 {
      @include purbleline;
      position: absolute;
      right: 0;
      top: 130px;
      width: 100px;
    }
    > .referenceshadowgreen {
      z-index: -5;
      position: absolute;
      transform: rotate(100deg);
      right: -622px;
      top: -650px;
    }

    .referencecontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .textAndPng {
        display: flex;
        justify-content: flex-end;
        margin-left: 75px;
        margin-right: 50px;
        gap: 48px;
        .textField {
          border-style: solid;
          border-radius: 32px;
          border-width: 4px;
          border-color: #70e61c;
          display: flex;
          flex-direction: column;
          max-width: 851px;
          max-height: 272px;
          min-height: 271px;
          position: relative;
          > .textFieldTicks {
            max-height: 68px;
            max-width: 96px;
            position: absolute;
            left: -70px;
            top: -30px;
          }
          span {
            @include span;
            padding: 25px 35px 25px;
          }
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            margin: 0px 30px;
            position: absolute;
            width: 75%;
            bottom: 5px;

            > .emptydiv {
              @include purbleline;
              display: flex;
              justify-content: space-around;
              width: 100%;
            }
            > .userName {
              @include span;
              text-wrap: nowrap;
            }
          }
        }
        .pngCircle {
          img {
            display: flex;
            justify-content: flex-end;
            height: 272px;
            width: 272px;
            border-radius: 50%;
            object-fit: cover;
            border-style: solid;
            border-width: 4px;
            border-color: #9747ff;
          }
        }
      }
      .slideSeciton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 26px;
        margin-top: 32px;
        .backarrow,
        .forwardarrow {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;

          img {
            height: 30px;
            width: 30px;
          }
        }
        > .elipses {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  main {
    display: flex;
    justify-content: center;
    position: relative;
    > .emptydiv1 {
      @include purbleline;
      position: absolute;
      right: 0;
      top: 130px;
      width: 100px;
    }
    > .referenceshadowgreen {
      z-index: -5;
      position: absolute;
      transform: rotate(100deg);
      right: -622px;
      top: -650px;
    }

    .referencecontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .textAndPng {
        display: flex;
        justify-content: flex-end;
        margin-left: 20px;
        margin-right: 20px;
        gap: 48px;
        .textField {
          border-style: solid;
          border-radius: 32px;
          border-width: 4px;
          border-color: #70e61c;
          display: flex;
          flex-direction: column;
          max-width: 851px;
          max-height: 400px;
          min-height: 400px;
          position: relative;
          align-items: center;
          > .textFieldTicks {
            max-height: 68px;
            max-width: 96px;
            position: absolute;
            left: -16px;
            top: -50px;
          }
          span {
            @include span;
            padding: 35px 20px 25px;
            font-size: 15px;
          }
          > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            margin: 0px 30px;
            position: absolute;
            width: 85%;
            bottom: 5px;

            > .emptydiv {
              @include purbleline;
              display: flex;
              justify-content: space-around;
              
            }
            > .userName {
              @include span;
              text-wrap: nowrap;
              font-size: 15px;
            }
          }
        }
        .pngCircle {
          img {
            display: flex;
            justify-content: flex-end;
            height: 272px;
            width: 272px;
            border-radius: 50%;
            object-fit: cover;
            border-style: solid;
            border-width: 4px;
            border-color: #9747ff;
          }
        }
      }
      .slideSeciton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 26px;
        margin-top: 32px;
        .backarrow,
        .forwardarrow {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;

          img {
            height: 30px;
            width: 30px;
          }
        }
        > .elipses {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
