<main>
    <div class="emptydiv1"></div>
    <img class="referenceshadowgreen" src="../../assets/img/greenshadowreference.png" alt="">
    
    <div class="referencecontainer">
        
        <div class="textAndPng">
            <div class="textField">
                <img class="textFieldTicks" src="../../assets/img/referenceticks.png" alt="">
                <span>
                    Michael really kept the team together 
                    with his great organization and clear communication. 
                    We wouldn't have got this far without his commitment.
                </span>
                <div>
                    <div class="emptydiv"></div>
                    <div class="userName">Team Partner, Lisa Mustermann</div>
                </div>
            </div>
            <div class="pngCircle">
                <img src="../../assets/img/business-attire-women.jpg" alt="">
            </div>
        </div>
        <div class="slideSeciton">
            <div class="backarrow">
                <img src="../../assets/img/slideelements/arrowback.png" alt="">
            </div>
            <div class="elipses">
                <img src="../../assets/img/slideelements/elipsegreen.png" alt="">
                <img src="../../assets/img/slideelements/elipsepurble.png" alt="">
                <img src="../../assets/img/slideelements/elipsepurble.png" alt="">
            </div>
            <div class="forwardarrow">
                <img src="../../assets/img/slideelements/arrowforward.png" alt="">
            </div>
        </div>
    </div>
</main>
