@import "../../styles.scss";

main {
  margin-left: 100px;

  > .portfoliotitle {
    padding-top: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;

    > h1 {
      @include h1;
      font-size: 90px;
    }

    > .emptydivleft {
      width: 100px;
      height: 3px;
      @include purbleline;
    }
    > .emptydivright {
      width: calc(35% - 5px);
      height: 3px;
      @include purbleline;
    }
  }
  > div {
    display: flex;
    justify-content: center;
    > span {
      @include span;
      margin-top: 40px;
    }
  }
}

@media (max-width: 1550px) {
  .portfoliotitle {
    .emptydivright {
      max-width: calc(75% - 5px);
    }
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: 100px;

    > .portfoliotitle {
      padding-top: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;
      .emptydivright {
        max-width: calc(35% - 5px);
      }
      > h1 {
        font-size: 60px;
      }

      > .emptydivleft {
      }
      > .emptydivright {
      }
    }
    > div {
      > span {
        display: flex;
        text-align: center;
        max-width: calc(80% - 5px);
      }
    }
  }
}
