<main>
    <div class="herotopright">
        <div class="hero-i-am">
            <h2>I am</h2>
        </div>
        <div class="hero-name-specialization">
            <div class="heroname">
            <h1>Eduard Puchaew</h1>
            </div>
            <div class="herospecialization">
            <span>FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button class="greenbutton">Let´s talk!</button>
    </div>
    <div class="herobottomleft">
        <div class="emptydiv"></div>
        <div class="sociallinks">
            <img src="../../assets/img/github.png" alt="">
            <img src="../../assets/img/email.png" alt="">
            <img src="../../assets/img/linkedin.png" alt="">
        </div>
        <div class="email">
            <a [href]="'mailto:' + email">{{ email }}</a>
        </div>
    </div>
    <img class="herobackground" src="../../assets/img/herobackground.png" alt="">
    <img class="coloredbackground" src="../../assets/img/coloredbackground.png" alt="">
    <div class="scrolldown ">
        <span>Scroll down <img src="../../assets/img/arrow.png" alt=""></span>
    </div>
</main>
