@import "../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  .heromain {
    display: flex;
    justify-content: space-between;

    margin: 50px 100px;

    .mainleft {
      height: 650px;
      width: 550px;
      display: flex;
      position: relative;
      z-index: -6;
      img {
        position: absolute;
        top: 40px;
        left: 54px;
        height: 100%;
      }
    }
    .mainright {
      display: flex;
      margin-top: 100px;
      > div {
        > h3 {
          transform: rotate(270deg);
          font-family: "Poppins";
          font-weight: 400;
          font-size: 44px;
          line-height: 76px;
          color: white;
          white-space: nowrap;
        }
      }
      > div {
        > h1 {
          margin: 0;
          font-family: "Poppins";
          font-weight: 700;
          font-size: 50px;
          line-height: 108px;
          color: white;
          white-space: nowrap;
        }
        > h2 {
          margin-top: -48px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 44px;
          line-height: 69px;
          color: #9747ff;
        }
      }
    }
  }
  .herobottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    .bottomleft {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 32px;
      .emptydiv {
        @include purbleline;
        width: 150px;
      }
      .socialicons {
        display: flex;
        gap: 32px;
        > img {
          cursor: pointer;
          height: 30px;
          &:hover {
            transform: scale(1.3);
            transition: all ease 125ms;
          }
        }
        > a {
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
      }
      .emailadress {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 23px;
        color: white;
      }
    }
    .bottomright {
      display: flex;
      align-items: center;
      margin-right: 100px;
      transform: rotate(90deg);
      > span {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 23px;
        color: white;
        white-space: nowrap;
        .arrow {
          transform: rotate(270deg);
        }
      }
    }
  }
  .coloredbackground {
    position: absolute;
    width: 80%;
    top: 20px;
    left: -90px;
    z-index: -10;
  }
  .meimg {
    display: none;
  }
  .herobackground {
    position: absolute;
    z-index: -5;
    width: 100%;
    top: 250px;
    left: 0;
  }
}

@media (max-width: 1500px) {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    .heromain {
      display: flex;
      justify-content: space-between;
      margin: 50px 100px;

      .mainleft {
        height: 650px;
        width: 550px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 39px;
          left: 54px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 100px;
        > div {
          > h3 {
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -48px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 69px;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: flex;
        align-items: center;
        margin-right: 100px;
        transform: rotate(90deg);
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 75%;
      top: 79px;
      left: -34px;
      z-index: -10;
    }

    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 250px;
      left: 0;
    }
  }
}

@media (max-width: 1320px) {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    .heromain {
      display: flex;
      justify-content: space-between;

      margin: 50px 100px;

      .mainleft {
        height: 550px;
        width: 450px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 40px;
          left: 70px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 100px;
        > div {
          > h3 {
            margin-top: 33px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 26px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 30px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -68px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 27px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: flex;
        align-items: center;
        margin-right: 100px;
        transform: rotate(90deg);
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 70%;
      top: 40px;
      left: 50px;
      z-index: -10;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 250px;
      left: 0;
    }
  }
}

@media (max-width: 1100px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .heromain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 50px 100px;

      .mainleft {
        height: 550px;
        width: 450px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 20px;
          left: 20px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 30px;
        > div {
          > h3 {
            margin-top: 36px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 36px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -58px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          display: none;
        }
      }
      .bottomright {
        display: none;
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 100%;
      top: -60px;
      left: 50px;
      z-index: -10;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 300px;
      left: 0;
    }
  }
}

@media (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .heromain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 50px 100px;

      .mainleft {
        height: 550px;
        width: 450px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 0px;
          left: 20px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 30px;
        > div {
          > h3 {
            margin-top: 36px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 36px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -58px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: none;
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 120%;
      top: -50px;
      left: -40px;
      z-index: -10;
    }

    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 370px;
      left: 0;
    }
  }
}

@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .heromain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0px 20px;

      .mainleft {
        height: 450px;
        width: 350px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 60px;
          left: -39px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 60px;
        > div {
          > h3 {
            margin-top: 28px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 22px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 30px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -78px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 26.5px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: none;
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 110%;
      top: 0px;
      left: -19px;
      z-index: -10;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 300px;
      left: 0;
    }
  }
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .heromain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0px 20px;

      .mainleft {
        height: 450px;
        width: 350px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 80px;
          left: -39px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 60px;
        > div {
          > h3 {
            margin-top: 28px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 22px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 30px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -78px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 26.5px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: none;
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 120%;
      top: 50px;
      left: -35px;
      z-index: -10;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 105%;
      top: 340px;
      left: 0;
    }
  }
}

@media (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 0px;
    .heromain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0px 20px;

      .mainleft {
        height: 350px;
        width: 300px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 160px;
          left: -15px;
          height: 100%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 140px;
        > div {
          > h3 {
            margin-top: 28px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 22px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 23px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -78px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 20.5px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 100px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: none;
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 120%;
      top: 130px;
      left: -25px;
      z-index: -10;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 360px;
      left: 0;
    }
  }
}

@media (max-width: 400px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 0px;
    .heromain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0px 20px;

      .mainleft {
        height: 350px;
        width: 250px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          position: absolute;
          top: 150px;
          left: -35px;
          height: 100%;
          width: 140%;
        }
      }
      .mainright {
        display: flex;
        margin-top: 140px;
        > div {
          > h3 {
            margin-top: 28px;
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 22px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 23px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -78px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 20.5px;
            line-height: 69px;
            white-space: nowrap;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 70px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          a {
            > img {
              cursor: pointer;
              height: 30px;
              &:hover {
                transform: scale(1.3);
                transition: all ease 125ms;
              }
            }
          }
        }

        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: none;
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 130%;
      top: 150px;
      left: -35px;
      z-index: -10;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 380px;
      left: 0;
    }
  }
}

@media (min-width: 1640px) {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    .heromain {
      display: flex;
      justify-content: space-between;

      margin: 50px 100px 250px;

      .mainleft {
        height: 650px;
        width: 550px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          display: none;
        }
      }
      .mainright {
        display: flex;
        margin-top: 100px;
        > div {
          > h3 {
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -48px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 69px;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: flex;
        align-items: center;
        margin-right: 100px;
        transform: rotate(90deg);
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 80%;
      top: 20px;
      left: -90px;
      z-index: -10;
    }
    .meimg {
      display: block;
      position: absolute;
      left: 120px;
      top: 40px;
      width: 50%;
      z-index: -6;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 250px;
      left: 0;
    }
  }
}

@media (min-width: 2400px) {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    .heromain {
      display: flex;
      justify-content: space-between;

      margin: 50px 100px 450px;

      .mainleft {
        height: 650px;
        width: 550px;
        display: flex;
        position: relative;
        z-index: -6;
        img {
          display: none;
        }
      }
      .mainright {
        display: flex;
        margin-top: 100px;
        > div {
          > h3 {
            transform: rotate(270deg);
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 76px;
            color: white;
            white-space: nowrap;
          }
        }
        > div {
          > h1 {
            margin: 0;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 50px;
            line-height: 108px;
            color: white;
            white-space: nowrap;
          }
          > h2 {
            margin-top: -48px;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 44px;
            line-height: 69px;
            color: #9747ff;
          }
        }
      }
    }
    .herobottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      .bottomleft {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 32px;
        .emptydiv {
          @include purbleline;
          width: 150px;
        }
        .socialicons {
          display: flex;
          gap: 32px;
          > img {
            cursor: pointer;
            height: 30px;
            &:hover {
              transform: scale(1.3);
              transition: all ease 125ms;
            }
          }
        }
        .emailadress {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
        }
      }
      .bottomright {
        display: flex;
        align-items: center;
        margin-right: 100px;
        transform: rotate(90deg);
        > span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 23px;
          color: white;
          white-space: nowrap;
          .arrow {
            transform: rotate(270deg);
          }
        }
      }
    }
    .coloredbackground {
      position: absolute;
      width: 80%;
      top: 20px;
      left: -90px;
      z-index: -10;
    }
    .meimg {
      display: block;
      position: absolute;
      left: 120px;
      top: 40px;
      width: 50%;
      z-index: -6;
    }
    .herobackground {
      position: absolute;
      z-index: -5;
      width: 100%;
      top: 250px;
      left: 0;
    }
  }
}
