<main>
    <img class="herobackground" src="../../assets/img/herobackground.png" alt="">
    <div class="heromain">
        <div class="mainleft">
            <img src="../../assets/img/Me.png" alt="">
        </div>
        <div class="mainright">
           <div><h3>I am</h3></div>
           <div> <h1>EDUARD PUCHAEW</h1> <br> <h2>FRONTEND DEVELOPER</h2> </div>
        </div>
    </div>
    <div class="herobottom">
        <div class="bottomleft">
            <div class="emptydiv"></div>
            <div class="socialicons">
                <img src="../../assets/img/github.png" alt="">
                <img src="../../assets/img/email.png" alt="">
                <img src="../../assets/img/linkedin.png" alt="">
            </div>
            <div class="emailadress">{{email}}</div>
        </div>
        <div class="bottomright"><span>Scroll Down <img class="arrow" src="../../assets/img/arrow.png" alt=""></span></div>
    </div>
    
    <div class="herobottom"></div>
    <img class="coloredbackground" src="../../assets/img/coloredbackground.png" alt="">
    <img class="meimg" src="../../assets/img/Me.png" alt="">
</main>