<main>
  <div class="contactcotainer">
    <div class="contactbody">
      <div class="leftbody">
        <h2>Got a problem to solve?</h2>
        <span class="spanOne">
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </span>
        <span class="spanTwo">
          Need a Frontend developer? <b>Contact me!</b>
        </span>
      </div>
      <form (ngSubmit)="onSubmit()" action="action_page.php">

        <label for="name"></label>
        <input *ngForm="contactData.name" type="text" id="name" name="name" placeholder="Your name">
    
        <label for="email"></label>
        <input *ngForm="contactData.email" type="text" id="email" name="email" placeholder="Your email">
    
        <label *ngForm="contactData.message" for="subject"></label>
        <textarea id="subject" name="subject" placeholder="Your message"></textarea>

        <label for="checkbox"></label>
        <input *ngForm="contactData.checkbox" type="checkbox" name="checkbox" id="checkbox">
    
        <input  type="submit" value="Submit">
    
      </form>
    </div>
  </div>
</main>
