<main>
  <div class="contactcotainer">
    <div class="contactbody">
      <div class="leftbody">
        <h2>Got a problem to solve?</h2>
        <span class="spanOne">
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </span>
        <span class="spanTwo">
          Need a Frontend developer? <b>Contact me!</b>
        </span>
      </div>
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" action="action_page.php">

        <label for="name"></label>
        <input #name="ngModel"  [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required>
        @if (!name.valid && name.touched) {
          <span class="requiredspan">Please your name</span>
        }

        <label for="email"></label>
        <input #email="ngModel"  [(ngModel)]="contactData.email" type="text" id="email" name="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        @if (!email.valid && email.touched) {
          <span class="requiredspan">Please enter your email</span>
        }

        <label  for="subject"></label>
        <textarea #message="ngModel" [(ngModel)]="contactData.message" id="subject" name="subject" placeholder="Your message" required></textarea>
        @if (!message.valid && message.touched) {
          <span class="requiredspan">Please enter your message</span>
        }
        <div>
        <input #checkbox="ngModel" [(ngModel)]="contactData.checkbox" type="checkbox" name="checkbox" id="checkbox" required>
        <label for="checkbox">
          <span class="white-span">I've read the </span> 
          <span class="purple-span">privacy policy </span> 
          <span class="white-span">and agree to the processing of my data as outlined.</span>
          </label>
        </div>
        @if (!checkbox.valid && checkbox.touched) {
          <span class="requiredspan">Please accept the privacy policy</span>
        }
      

        <input type="submit" [disabled]="!contactForm.valid" value="Send message {{smiley}}">
       

      </form>
    </div>
  </div>
</main>
