@import '../../styles.scss';

main {
    margin-top: 40px;
    height: 50vh;

    > .contactcotainer {
        display: flex;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;

        > .contactbody {
            display: flex;
            gap: 149px;

            > .leftbody {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: 474px;

                > h2 {
                    @include h1;
                    font-size: 32px;
                    margin-bottom: 24px;
                }

                > .spanOne {
                    @include span;
                    margin-bottom: 16px;
                }

                > .spanTwo {
                    @include span;
                }
            }

            > form {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: 617px;
                gap: 16px;
                

                
                input[type=text],[type=email], select, textarea{
                    @include inputDesign;
                }
                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                input[type=submit] {
                    @include contactButton;
                }
                }
                >.formvalidationspan{
                    margin: 0;
                    color: red;
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 14px;

                }
                
                
                .checkbox-container {
                    display: flex;

                    input[type="checkbox"] {
                        appearance: none;
                        width: 18px;
                        height: 18px;
                        border: 2px solid #70e61c; 
                        background-color: transparent; 
                        cursor: pointer; 
                        position: relative; 
                        
                        &:checked::after {
                            content: '';
                            position: absolute;
                            left: 6px;
                            top: 0px;
                            width: 3px;
                            height: 10px;
                            border: solid #70e61c;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }
                    
                    > label {
                        @include span;
                        font-size: 14px;
                        @include colored-text-checkbox;
                    }
                }

                
            }
        }
    }
}
