@import "../../styles.scss";

main {
  margin-top: 40px;
  margin-bottom: 180px;
  position: relative;

  > .shadowcontacts {
    position: absolute;
    top: 130px;
    left: 0;
    z-index: -5;
  }
  > .contactcotainer {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;

    > .contactbody {
      display: flex;
      gap: 149px;

      > .leftbody {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 474px;

        > h2 {
          @include h1;
          font-size: 32px;
          margin-bottom: 24px;
        }

        > .spanOne {
          @include span;
          margin-bottom: 16px;
        }

        > .spanTwo {
          @include span;
        }
      }

      > form {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 617px;
        gap: 16px;

        input[type="text"],
        [type="email"],
        select,
        textarea {
          @include inputDesign;
          padding-right: 45px;
        }
        input.valid,
        textarea.valid {
          border-color: green; /* Borderfarbe, wenn das Feld gültig ist */
          background-image: url(../../assets/img/inputChecked.png);
          background-repeat: no-repeat;
          background-position: calc(100% - 10px);
          
        }

        input.invalid,
        textarea.invalid {
          border-color: red; /* Borderfarbe, wenn das Feld ungültig ist */
          background-image: url(../../assets/img/inputRequired.png);
          background-repeat: no-repeat;
          background-position: calc(100% - 10px);
        }
        

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          input[type="submit"] {
            @include contactButton;
            .valid-submit {
                background-color: green;
                color: white; // Textfarbe auf weiß setzen, um Kontrast zu schaffen
              }
      
              .invalid-submit {
                background-color: grey; // oder eine andere Farbe für den ungültigen Zustand
                color: white; // Textfarbe auf weiß setzen, um Kontrast zu schaffen
              }
          }
        }
        > .formvalidationspan {
          margin: 0;
          color: red;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
        }

        .checkbox-container {
          display: flex;

          input[type="checkbox"] {
            appearance: none;
            min-width: 18px;
            height: 18px;
            border: 2px solid #70e61c;
            background-color: transparent;
            cursor: pointer;
            position: relative;

            &:checked::after {
              content: "";
              position: absolute;
              left: 6px;
              top: 0px;
              width: 3px;
              height: 10px;
              border: solid #70e61c;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
          

          > label {
            @include span;
            font-size: 14px;
            @include colored-text-checkbox;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px){
  main {
    margin-top: 40px;
    margin-bottom: 180px;
    position: relative;
  
    > .shadowcontacts {
      position: absolute;
      top: 130px;
      left: 0;
      z-index: -5;
    }
    > .contactcotainer {
      display: flex;
      justify-content: center;
      margin-left: 20px;
      margin-right: 20px;
  
      > .contactbody {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        gap: 149px;
  
        > .leftbody {
          flex: 1;
          display: flex;
          flex-direction: column;
          max-width: 474px;
  
          > h2 {
            @include h1;
            font-size: 32px;
            margin-bottom: 24px;
          }
  
          > .spanOne {
            @include span;
            margin-bottom: 16px;
          }
  
          > .spanTwo {
            @include span;
          }
        }
  
        > form {
          flex: 1;
          display: flex;
          flex-direction: column;
          max-width: 617px;
          gap: 16px;
  
          input[type="text"],
          [type="email"],
          select,
          textarea {
            @include inputDesign;
            padding-right: 45px;
          }
          input.valid,
          textarea.valid {
            border-color: green; /* Borderfarbe, wenn das Feld gültig ist */
            background-image: url(../../assets/img/inputChecked.png);
            background-repeat: no-repeat;
            background-position: calc(100% - 10px);
            
          }
  
          input.invalid,
          textarea.invalid {
            border-color: red; /* Borderfarbe, wenn das Feld ungültig ist */
            background-image: url(../../assets/img/inputRequired.png);
            background-repeat: no-repeat;
            background-position: calc(100% - 10px);
          }
          
  
          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            input[type="submit"] {
              @include contactButton;
            
              &.valid-submit {
                background-color: green;  // Farbe für gültigen Zustand
                color: white;             // Textfarbe
                cursor: pointer;          // Zeigt an, dass der Button anklickbar ist
              }
            
              &.invalid-submit {
                background-color: grey;   // Farbe für ungültigen Zustand
                color: white;             // Textfarbe
                cursor: not-allowed;      // Zeigt an, dass der Button nicht anklickbar ist
              }
            }
          }
          >.formvalidationspan, .formvalidationspan-checkbox {
            margin: 0;
            color: red;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 14px;
          }
  
          .checkbox-container {
            display: flex;
  
            input[type="checkbox"] {
              appearance: none;
              min-width: 18px;
              height: 18px;
              border: 2px solid #70e61c;
              background-color: transparent;
              cursor: pointer;
              position: relative;
  
              &:checked::after {
                content: "";
                position: absolute;
                left: 6px;
                top: 0px;
                width: 3px;
                height: 10px;
                border: solid #70e61c;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }
            }
            
  
            > label {
              @include span;
              font-size: 14px;
              @include colored-text-checkbox;
            }
          }
        }
      }
    }
  }
  
}