@import "../../styles.scss";

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  >.purbleshadow{
    position: absolute;
    top: 1050px;
    left: -350px;
    z-index: -1;
}

  .portfolioleft {
    img{
      width: 100%;
    }
  }
  .portfoliorightreverse{
    display: flex;
    flex-direction: column;
    align-items: end;
    >.h2reverse {
      text-align: end;
    }

    >.h3reverse {
      text-align: end;
    }

    >.spanreverse {
      text-align: end
    }

    >.divreverse {
      
      .Btnprimary {
        @include liveTestBtn;
      }
      .Btnsecondary {
        @include gitHubBtn;
      }
    }
  }
  .portfolioright {
    max-width: 513px;
    h2 {
      @include purbletext;
      margin-bottom: 15px;
    }

    h3 {
      @include greentext;
      margin-bottom: 15px;
    }

    span {
      @include span;
    }

    div {
      margin-top: 35px;
      display: flex;
      gap: 86px;
      .Btnprimary {
        @include liveTestBtn;
      }
      .Btnsecondary {
        @include gitHubBtn;
      }
    }
  }
}
@media (max-width: 1200px){
  main{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
      .portfolioright{
        display: flex;
        flex-direction: column;
        align-items: center;
          span{
            display: flex;
            text-align: center;
          }
      }
      
  }
  main{
    
    .portfoliorightreverse{
        display: flex;
        flex-direction: column;
        align-items: center;
        .spanreverse{
          display: flex;
          text-align: center;
        }
      }
  }
}

@media (max-width: 1000px){
  .portfolioleft {
    max-width: calc(80% - 5px);
    img{
      
    }
  }
  .portfolioright {
    
    h2 {
      
    }

    h3 {
      
    }

    span {
      
    }

    div {
      
      .Btnprimary {
        @include liveTestBtn;
      }
      .Btnsecondary {
        @include gitHubBtn;
      }
    }
  }
}