@import '../../styles.scss';

.portfoliomaincontainer{
.scsstemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include portfolioTemplate;
   
}
}
.portfoliomaincontainer{
    position: relative;
    
}


