@import '../../styles.scss';


.scsstemplate{
    @include portfolioTemplate;
}
.scsstemplatereverse{
    @include portfolioTemplateReverse;
}
.purblebackground{
    position: absolute;
    top: -280px;
    left: -350px;
    z-index: -5;
}