<main>
    <!--<img class="purbleshadow" src="../../assets/img/purbleshadowportfolio.png" alt="">-->
  <div class="portfolioleft">
    <img src="../../assets/img/portfolio/portfoliojoin.png" alt="" />
  </div>
  <div class="portfolioright">
    <h2>Join</h2>
    <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>
    <span
      >Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </span>
    <div>
      <button class="Btnprimary">Live test</button>
      <button class="Btnsecondary">Github</button>
    </div>
  </div>
</main>
<main class="mainreverse">
  <div class="portfolioleft">
    <img src="../../assets/img/portfolio/portfolioelpolloloco.png" alt="" />
  </div>
  <div class="portfolioright portfoliorightreverse">
    <h2 class="h2reverse">El Pollo Loco</h2>
    <h3 class="h3reverse">JavaScript | HTML | CSS</h3>
    <span class="spanreverse"
      >A simple Jump-and-Run game based on an object-oriented approach. Help
      pepe to find coins and poison bottles to fight against the angry chicken.
    </span>
    <div>
      <button class="Btnprimary">Live test</button>
      <button class="Btnsecondary">Github</button>
    </div>
  </div>
</main>
<main>
  <div class="portfolioleft">
    <img src="../../assets/img/portfolio/portfoliopokedex.png" alt="" />
  </div>
  <div class="portfolioright">
    <h2>Pokédex</h2>
    <h3>JavaScript | HTML | CSS | Api</h3>
    <span
      >Based on the PokéAPI a simple library that provides and catalogues
      pokemon information.
    </span>
    <div>
      <button class="Btnprimary">Live test</button>
      <button class="Btnsecondary">Github</button>
    </div>
  </div>
</main>


