@import "../../styles.scss";
.responsivedesign {
  display: none;
}
.desktopdesign {
  padding-top: 180px;
  margin-left: 100px;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-between;

  > .greenshadowms {
    position: absolute;
    top: 2400px;
    left: -580px;
    pointer-events: none;
  }
  .myskillleft {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; // Links ausrichten
    gap: 5px; // Kleineren Abstand zwischen den Containern

    .hover-image {
      position: absolute;
      top: 180px;
      left: 420px;
      transform: translateX(-50%);
      transition: opacity 125ms ease;
      opacity: 0;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      max-width: 664px;
    }

    .item {
      flex: 1 1 calc(24% - 5px); // Verringerte Breite pro Container, sodass 4 in eine Reihe passen
      height: 120px;
      max-width: calc(
        24% - 5px
      ); // Breite entsprechend angepasst, um den Abstand zu kompensieren
      justify-content: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      > img {
        width: 60px;
        max-width: 60px;

        &:hover {
          cursor: pointer;
          transition: all 125ms ease;
          transform: translateY(-10px);
        }
      }

      > p {
        margin-top: 10px;
        transition: color 125ms ease, opacity 125ms ease;
        @include p;
      }
    }
  }

  .myskillright {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    > div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;
      .myskillstitle {
        h1 {
          @include h1;
          font-size: 90px;
        }
      }
      .emptydiv {
        @include purbleline;
        width: 68px;
      }
      > span {
        @include span;
        text-align: end;
      }
    }
    > .myskillbody {
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-right: 100px;
      max-width: 471px;

      > p {
        @include whitetext;
        > span {
          @include purbletext;
        }
      }
      > button {
        @include greenbutton;
        max-width: 200px;
        max-height: 58px;
        padding: 15px 30px;
      }
    }
  }
}

//responsive
@media (max-width: 1290px) {
  .desktopdesign {
    display: none;
  }

  .responsivedesign {
    padding-top: 180px;
    margin-left: 100px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;

    > .greenshadowms {
      position: absolute;
      top: 2656px !important;
      left:-650px !important; 
      z-index: -1 !important;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;
      .myskillstitle {
        h1 {
          @include h1;
          font-size: 90px;
        }
      }
      .emptydiv {
        @include purbleline;
        width: 68px;
      }
    }

    .myskillresponsivebody {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      div {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 32px;
        > .spanresponsive {
          @include span;
          text-align: center;
          max-width: calc(70% - 5px)
        }
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 664px;
        .item {
          flex: 1 1 calc(24% - 5px); // Verringerte Breite pro Container, sodass 4 in eine Reihe passen
          height: 120px;
          max-width: calc(
            24% - 5px
          ); // Breite entsprechend angepasst, um den Abstand zu kompensieren
          justify-content: center;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          img {
            width: 60px;
            max-width: 60px;
            &:hover {
              cursor: pointer;
              transition: all 125ms ease;
              transform: translateY(-10px);
            }
          }
          p {
            margin-top: 10px;
            transition: color 125ms ease, opacity 125ms ease;
            @include p;
          }
        }

        #lastskill {
          #lastSkillImg {
          }
          #lastSkillText {
          }
        }
      }

      .hover-image {
        position: absolute;
        top: 180px;
        left: 420px;
        transform: translateX(-50%);
        transition: opacity 125ms ease;
        opacity: 0;
      }

      .myskillbody {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        width: 100%;
        p {
          @include whitetext;
          text-align: end;
          
          .color-text {
            @include purbletext;
          }
        }
        span {
          @include span;
          text-align: end;
          max-width: calc(80% - 5px)
        }
        button {
          @include greenbutton;
          max-width: 200px;
          max-height: 58px;
          padding: 15px 30px;
        }
      }
    }
  }
}




@media (max-width: 1290px) {
  .desktopdesign {
    display: none;
  }

  .responsivedesign {
    padding-top: 180px;
    margin-left: 100px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;

    > .greenshadowms {
      position: absolute;
      top: 2400px;
      left: -580px;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;
      .myskillstitle {
        h1 {
          @include h1;
          font-size: 90px;
        }
      }
      .emptydiv {
        @include purbleline;
        width: 68px;
      }
    }

    .myskillresponsivebody {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      div {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 32px;
        > .spanresponsive {
          @include span;
          text-align: end;
        }
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 664px;
        .item {
          flex: 1 1 calc(24% - 5px); // Verringerte Breite pro Container, sodass 4 in eine Reihe passen
          height: 120px;
          max-width: calc(
            24% - 5px
          ); // Breite entsprechend angepasst, um den Abstand zu kompensieren
          justify-content: center;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          img {
            width: 60px;
            max-width: 60px;
            &:hover {
              cursor: pointer;
              transition: all 125ms ease;
              transform: translateY(-10px);
            }
          }
          p {
            margin-top: 10px;
            transition: color 125ms ease, opacity 125ms ease;
            @include p;
          }
        }

        #lastskill {
          #lastSkillImg {
          }
          #lastSkillText {
          }
        }
      }

      .hover-image {
        position: absolute;
        top: 180px;
        left: 420px;
        transform: translateX(-50%);
        transition: opacity 125ms ease;
        opacity: 0;
      }

      .myskillbody {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        width: 100%;
        p {
          @include whitetext;
          text-align: end;
          
          .color-text {
            @include purbletext;
          }
        }
        span {
          @include span;
          text-align: end
        }
        button {
          @include greenbutton;
          max-width: 200px;
          max-height: 58px;
          padding: 15px 30px;
        }
      }
    }
  }
}
